//import variables
@import "../abstracts/variables";

/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*estilos generales*/

body{
    font-family: 'Segoe UI', sans-serif;
    background-color: $color-secundario;
    color: $color-font;
}

footer{
    background-color: $color-secundario;
    height: 50px;
}