//import variables

@use '../abstracts/variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: variables.$fuente-principal;
  background-color: variables.$color-fondo;
  color: variables.$color-texto;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}