// paleta de colores Cookie

$bg-principal: #F5E9D4; // Fondo claro principal (beige suave)
$color-font: #4B2E22;   // Texto principal (marrón oscuro)

$cookie-base: #F5E9D4;  // Mismo que fondo principal
$chispas: #4B2E22;      // Marrón oscuro para títulos/textos destacados
$masa: #D9A15D;         // Marrón galleta (botones hover, fondos suaves)
$text-secundario: #8B5E3C; // Marrón medio para textos secundarios
$detalle: #F2C57C;      // Amarillo miel (acentos, íconos, botones)